:root {
  --background: rgba(102, 102, 102, 0.6);
  --border: rgba(255, 255, 255, 1);
  --select: rgba(170, 170, 170, 1);
  --foreground: rgba(255, 255, 255, 1);
  --sidebar: rgba(255, 255, 255, 0.31);
  --toast: rgba(102, 102, 102, 1);
}

* {
  padding: 0;
  color: var(--foreground);
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  --swiper-theme-color: none;
}

main {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  left: 0;
  top: 0;
  z-index: 0 !important;
}

.border {
  border: 0.15rem solid var(--border);
}

.button-like {
  transition: all 0.3s;
  background: var(--background);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

button {
  transition: all 0.3s;
  background: var(--background);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  &:hover {
    background: var(--select);
  }
  &:active {
    translate: 0 0.5rem;
  }
  &:disabled {
    opacity: 0.2;
  }
}

.square {
  aspect-ratio: 1;
}

.font-bold {
  font-weight: bold;
}

.text-1\.5 {
  font-size: 1.5rem;
}

.text-2 {
  font-size: 2rem;
}

.text-6 {
  font-size: 6rem;
}

.sidebar {
  overflow: hidden;
  width: 0;
  height: 100dvh;
  position: fixed;
  top: 0;
  right: 0;
  background: var(--sidebar);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  transition: 0.3s ease-in-out;
  padding: 0;
  z-index: 9998;
}

.w-full {
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.content-center {
  justify-content: center;
}

.items-center {
  justify-items: center;
}

.sidebar--active {
  width: 24rem;
  padding: 0.5rem;
  border-left: 0.15rem solid var(--border);
}

.middle {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
  text-align: center;
}

.sonner {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  z-index: 9999;
  flex-direction: column;
  pointer-events: auto;
  padding-top: 2rem;

  .toast {
    opacity: 0;
    transform: translateX(-2rem);
    transition: all 0.3s ease;
    pointer-events: none;
    margin-top: -2rem;
    background: var(--toast);

    &:hover {
      margin-top: 0;
    }

    &:last-child {
      scale: 1;
    }
    &:nth-last-child(2) {
      scale: 0.95;
    }
    &:nth-last-child(3) {
      scale: 0.9025;
    }
    &:nth-last-child(4) {
      scale: 0.857375;
    }
    &:nth-last-child(5) {
      scale: 0.81450625;
    }
    &:nth-last-child(6) {
      scale: 0.7737809375;
    }
    &:nth-last-child(n + 6) {
      opacity: 0;
    }
  }

  &:hover {
    .toast {
      margin-top: 0.5rem;
      scale: 1;
    }
  }

  .toast--show {
    opacity: 1;
    transform: translateX(0);
  }
}


.select-none {
  user-select: none;
}

.swiper {
  width: 100dvw;
  height: 100dvh;
}

.base {
  position: fixed;
  z-index: 10;
  width: 100dvw;
  height: 100dvh;
  left: 0;
  top: 0;
  margin: 0.5rem;
  pointer-events: none;
  * {
    pointer-events: auto;
  }
}

.swiper-pagination {
  span {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.2rem solid var(--foreground);
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--foreground) !important;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 1rem;
  &:nth-child(1) {
    background: url("https://images7.alphacoders.com/457/457015.jpg");
  }
  &:nth-child(2) {
    background: url("https://www.hdwallpapers.in/download/beautiful_stones_lake_trees_forest_rock_mountains_sunrays_blue_sky_background_hd_nature-2560x1440.jpg");
  }
  &:nth-child(3) {
  background: url("https://4kwallpapers.com/images/wallpapers/mountains-path-hill-spring-aesthetic-landscape-scenery-3840x2160-421.jpg");
  }
}

